
.instructions {
  --instr-bg: var( --flame );
  --instr-fg: var(--mulberry);
  position: relative;
  margin:  auto;
  /* width: 80vw; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(var(--instr-bg));
  padding: 11px;
}
.instructions ul , .inst-extra{
  text-align: center;
  padding: 0;
  margin: 0 auto;
  /* width: 80%; */
  display: flex;
  justify-content: center;
  
}
.instructions :is( ul, li ) {
  list-style-type: none;
  padding: 0;

}
.instructions li {
  margin: 0;
  flex: 1;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}
.instructions li > * {
  width: 50%;
}
.instructions  :is(p, img):not(.inst-extra){
  text-align: left;
  margin: 0;
  padding: 0;
}
dt, dd {
  text-align: center;
}

.instructions .image-pile {
  width: 50%;
  position: relative;
  aspect-ratio: 1 / 1;
  
}

.instructions .image-pile :is(svg, img) {
  position: absolute;
}
#page-icon {
  top: 0;
  right: 0;
  height: 77%;
  width: 77%;
}
#user-icon {
  top: 30%;
  left: 0;
  height: 77%;
  width: 77%;
}
#student-icon {
  top: 30%;
  left: 0;
  height: 77%;
  width: 77%;
}
#search-icon {
  top: 0;
  right: 0;
  height: 77%;
  width: 77%;
}
