/* newberry branding colors */
html {

  --success-light: 205, 255, 205;
  --success-dark: 0, 83, 0;

  --error-light: 255, 205, 205;
  --error-dark: 83, 0, 0;

	--flame: 241, 97, 81;
	--park-green: 32, 84, 62;
	--tile: 146, 88, 64;
	--sapphire: 64, 81, 163;
	--lake: 126, 196, 226;
	--mulberry: 173, 43, 90;
	--lavender: 205, 184, 209;
	--midnight: 17, 26, 42;
	--granite: 234, 235, 231;
	--sand: 234, 220, 201;
	--angle: 150deg;
	--dist: 66%;
}
/* newberry fonts */

@font-face {
	font-family: 'flecha';
	src: url('../fonts/FlechaM-Regular.woff');
}

@font-face {
	font-family: 'flecha';
	src: url('../fonts/FlechaM-Bold.woff');
	font-weight: 700;
}

@font-face {
	font-family: 'flecha';
	src: url('../fonts/FlechaM-Black.woff');
	font-weight: 900;
}

@font-face {
	font-family: 'styrene';
	src: url('../fonts/StyreneB-Regular-Web.woff');
}

@font-face {
	font-family: 'styrene-bold';
	src: url('../fonts/StyreneB-Bold-Web.woff');
}

@font-face {
	font-family: 'signifier';
	src: url('../fonts/signifier-regular.woff2');
}

@font-face {
	font-family: 'signifier-bold';
	src: url('../fonts/signifier-bold.woff2');
}

h1,
h2 {
	font-family: 'flecha';
}

h3,
h4,
h5,
h6,
dt {
	font-family: 'styrene';
}

body,
html {
	font-family: 'signifier';
}

b {
	font-family: 'styrene-bold';
}

h1 {
	font-size: min(10vh, 13vw);
	line-height: min(10vh, 13vw);
}
/* not-exactly-newberry utilities */

a {
	text-decoration: none;
}

a:not(.no-lines) {
	color: inherit;
	font-weight: 700;
	line-height: 1rem;
	text-decoration: none;
	background: linear-gradient(to right, rgba(var(--fg-color-1), 0.3), rgba(var(--fg-color-1), 0.3)),
		linear-gradient(to right, rgba(var(--fg-color-1), 1), rgba(var(--fg-color-1), 1));
	background-size:
		100% 0.1rem,
		0 0.1rem;
	background-position:
		100% 100%,
		0 100%;
	background-repeat: no-repeat;
	transition: background-size 300ms;
}

a:not(.no-lines):hover,
a:not(.no-lines):focus {
	background-size:
		0 0.1rem,
		100% 0.1rem;
}

