.creator-wrapper {
  display: flex;
  & .creator, .tiles {
    width: 100%;
    flex: 1;
  }
  & .creator {
    figure {
      float:right;
      width: calc(50% - 33px);
    padding: 11px;
      & img {
        width: 100%;
        object-fit: contain;
      }
      & figcaption {
        font-size: 0.8em;
        text-align: center;
      }
    }
    .detail, .desc, .coll {
      padding-block: 11px;
    }
  }
}
