
.search-results-block {
  display: flex;

  & .filter-box{
    min-width: 200px;
   
    & .filter-list {
      display: flex;
      flex-direction: column;
      gap: 3px;
    
    }
    #date-slider, #date-display {
      margin-block: 11px;
    }
    /* noUiSlider -- date range slider */
  }
}
@media screen and (max-width: 900px) {
  .search-results-block {
    flex-direction: column;
  }
}
@media screen and (min-width: 900px) {
  .search-results-block {
    flex-direction: row;
    & .filter-box{
      flex-basis: min(300px, 25vw);
    }
  }

}
