.completed {
  background: var(--fg-color);
  background: black;
  /* color: var(--bg-color); */
}
.incomplete {
  background: var(--bg-color);
  background: white;
  /* color: var(--fg-color); */
}
dd img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  object-position: center;
  transition: 250ms;
}
/* .media-list,  */
/* .property { */
/*   border: none !important; */
/*   display: flex;  */
/*   flex-wrap: wrap;  */
/*   /* gap: 33px; */ 
/*   justify-content: space-between; */
/*   align-items: start; */
/* } */
/* dd .resource-link { */
/*   border: 1px solid var(--fg-color); */
/*   position: relative; */
/*   width: 100%; */
/*   height: 100%; */
/*   display: flex; */
/*   justify-content: center; */
/*   align-items: center; */
/* } */
/* dd { */
/*   position: relative; */
/*   transition: 250ms; */
/*   box-shadow: 0 0 5px 5px rgba(var(--fg-rgb), 0.1); */
/*   overflow: hidden; */
/*   &:hover { */
/**/
/*     box-shadow: 0 0 10px 10px rgba(var(--fg-rgb), 0.1); */
/*     z-index: 1000; */
/*     & img { */
/*       width: 133% !important; */
/*       height: 133% !important; */
/*     } */
/*   } */
/* } */
/* .resource-name { */
/*   position: relative; */
/*   z-index: 4; */
/*   background: var(--bg-color); */
/*   color: var(--fg-color); */
/*   padding: 1rem; */
/*   border: 1px solid var(--fg-color); */
/* } */
/* .value { */
/*   position: relative;  */
/*   width: var(--tile-width); */
/*   max-width: 200px; */
/*   aspect-ratio: 1 / 1 */
/* } */
