html,
body {
  margin: 0;
  padding: 0;
}
body,
body * {
  box-sizing: border-box;
}
html {
  --midphire-lab: 23, 7, -31;
  --midphire-cmyk: 96,88,32,21;
  --parknite-lab: 64,-12,3;
  --parknite-cmyk: 51,26,43,1;
  --mulnite-lab: 66,27,0;
  --mulnite-cmyk: 18,51,22,0;
  

  --flame: 241, 97, 81;
  --park-green: 32, 84, 62;
  --tile: 146, 88, 64;
  --sapphire: 64, 81, 163;
  --lake: 126, 196, 226;
  --mulberry: 173, 43, 90;
  --lavender: 205, 184, 209;
  --midnight: 17, 26, 42;
  --granite: 234, 235, 231;
  --sand: 234, 220, 201;
  --angle: 70deg;
  --dist: 66%;

  --midphire: color-mix(in oklab, rgb(var(--sapphire)), rgb(var(--midnight)));
  --parknite: color-mix(in oklab, rgb(var(--park-green)), rgb(var(--granite)));
  --mulnite: color-mix(in oklab, rgb(var(--mulberry)), rgb(var(--granite)));

  --sm: 640px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1280px;
  --xxl: 1536px;
}

/*  dm on */
:root {
  /* --splash-color: var(--sapphire); */
  /* --bg-color: var(--midnight); */
  /* --bg-color-2: var(--mulberry); */
  /* --fg-color-2: var(--lavender); */
  /* --fg-color: var(--granite); */
}
body:not(.dark) {
  /* --splash-rgb: var(--sapphire); */
  /* --fg-rgb: var(--midnight); */
  /* --fg-rgb-2: var(--mulberry); */
  /* --bg-rgb-2: var(--lavender); */
  /* --bg-rgb: var(--granite); */
  /* --splash-color: rgb(var(--splash-rgb)); */
  --fg-color: rgb(var(--midnight));
  --fg-color-2: rgb(var(--granite));
  --bg-color: rgb(var(--lavender));
  --bg-color-2: var(--midphire);
  --progress-green: var(--parknite);
  --progress-red: var(--mulnite);
  --progress-bg: rgb(var(--granite));
  /* --shadow: color-mix(in oklab, var(--midphire) 10%, transparent)); */
    --shadow: color-mix(in oklab, var(--midphire) 10%, transparent);
  --bg-1: linear-gradient(
    60deg,
    var(--bg-color) 0vw,
    40vw,
    var(--bg-color-2) 40vw 100vw
  );
  --bg-2: linear-gradient(
    60deg,
    var(--bg-color-2) 0vw,
    40vw,
    var(--bg-color) 40vw 100vw
  );
  color: var(--fg-color);
}
body.dark {
}

body {
  background: var(--bg-color);
}

@font-face {
  font-family: "flecha";
  src: url("../fonts/FlechaM-Regular.woff");
}
@font-face {
  font-family: "styrene";
  src: url("../fonts/StyreneB-Regular-Web.woff");
}
@font-face {
  font-family: "styrene-bold";
  src: url("../fonts/StyreneB-Bold-Web.woff");
}
@font-face {
  font-family: "signifier";
  src: url("../fonts/signifier-regular.woff2");
}
@font-face {
  font-family: "signifier-bold";
  src: url("../fonts/signifier-bold.woff2");
}

h1, h1 *,
h2, h2 * {
  font-family: "flecha";
  color: var(--splash-color);;
  color: var(--fg-color-2);;
}
h3,
h4,
h5,
h6,
dt,
p b {
  font-family: "styrene";
  color: var(--splash-color);;
  color: var(--fg-color-2);;
}

body,
html {
  font-family: "signifier";
  color: var(--fg-color);;
}

a {
  color: var(--fg-color-2);;
}
b {
  font-family: "styrene-bold";
}

.llines {
  color: inherit !important;
  font-weight: 700;
  line-height: 1rem;
  text-decoration: none;
  background: linear-gradient(
      to right,
      rgba(var(--fg-rgb), 0.3),
      rgba(var(--fg-rgb), 0.3)
    ),
    linear-gradient(
      to right,
      rgba(var(--fg-rgb), 1),
      rgba(var(--fg-rgb), 1)
    );
  background-size:
    100% 0.1rem,
    0 0.1rem;
  background-position:
    100% 100%,
    0 100%;
  background-repeat: no-repeat;
  transition: background-size 300ms;
}

.llines:hover,
.llines:focus {
  background-size:
    0 0.1rem,
    100% 0.1rem;
}

