.tile-container {
  display: flex;
  align-items: start;
  justify-content: start;


/* display: grid; */
/*   grid-template-columns: ; */
/*   grid-gap: 10px; */

  & .filter-box{
    position: sticky; 
    top: 76px;
    flex: 1;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 11px;

    & .filter-list {
      display: flex;
      flex-direction: column;
      gap: 3px;
      font-family: "styrene";
      font-weight: 400;
      font-weight: 200;

    }
    .date-filter {
      width: 90%;
      display: flex;
      flex-direction: column;
      gap: 3px;
      margin-block: 11px;
      & #date-slider {
        /* align-self: center; */
        margin: 6px;
        width: 76%;
      }
    }
  }
  .tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0;
    padding: 0;
  }
  /* flex won't work, it needs to be grid + grid area to take the featured creator out of the flex flow */
  .tiles:has(.manuscript) {
    flex: 4;
  }
  .tiles:has(.creator) {
    flex: 1;
  }
  .featured-creator {
    flex: 1;
  }
}
@media screen and (max-width: 900px) {
  .tile-container {
    flex-direction: column;
  }
}
@media screen and (min-width: 900px) {
  .tile-container {
    flex-direction: row;
    & .filter-box{
      /* flex: 1; */
      /* flex-basis: min(300px, 25vw); */
    }
  }

}
