.tile-container {
  display: flex;
  align-items: start;
  justify-content: start;

  & .filter-box{
    position: sticky; 
    top: 76px;
    flex: 1;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 11px;

    & .filter-list {
      display: flex;
      flex-direction: column;
      gap: 3px;
      font-family: "styrene";
      font-weight: 400;
      font-weight: 200;

    }
    .date-filter {
      width: 90%;
      display: flex;
      flex-direction: column;
      gap: 3px;
      margin-block: 11px;
      & #date-slider {
        /* align-self: center; */
        margin: 6px;
        width: 76%;
      }
    }
  }

  & .featured-creator {
    /* position: sticky;  */
    /* top: 76px; */
    /* max-height: calc(100vh - 100px); */
    background: var(--bg-color-2);
  background-image: linear-gradient(
    60deg,
    var(--midphire) 0vw,
    40vw,
    rgb(var(--sapphire)) 40vw 100vw
  );
    border-radius: 11px;
    display: flex;
    flex-direction: column;
    justify-content: center;;
    align-items: start;
      gap: 0;
    
    & a, p, h3 {
      color: var(--fg-color-2);
    }
    .text-block {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 11px;
      padding: 22px 33px 33px 33px;
    }
    & .name {
      /* margin-block:  11px; */
      font-size: 1.25rem;
      line-height: 1.75rem;
      border-block: 1px solid vaR(--fg-color-2);
      width: 100%;
      display: block;
    }
    & p {
      font-size: 1rem;
      line-height: 1.5rem;
    }
    & h3 {
      margin-block:  11px;
      padding-inline: 33px;
      width: 100%;
      text-align: center;
    }
    & img {
      flex-shrink: 1;
      width: 100%;
      aspect-ratio: 1.5 / 1;
      object-fit: cover;
      object-position: top;
      margin: 0;
      padding:0;
    }
  }
}

/* layouts */

.tile-container {
  display: grid;
  gap: 1rem;
  margin: 0;
  padding: 1rem;
}

.tile-container:has(.manuscript) {
  grid-template-columns: 1fr 4fr;
  grid-template-areas: "filters items";
}

.tile-container:has(.creator) {
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "items featured";
}

.featured-creator {
  grid-area: featured;
}

.tiles {
  grid-area: items;
}

.filter-box {
  grid-area: filters;
}

@media screen and (max-width: 900px) {
  .tile-container {
    flex-direction: column;
  }
}
@media screen and (min-width: 900px) {
  .tile-container {
    flex-direction: row;
    & .filter-box{
      /* flex: 1; */
      /* flex-basis: min(300px, 25vw); */
    }
  }

}
