

@media screen and ( max-width: 350px ){

  li {

    flex-direction: column;
    justify-content: space-between;
    align-items: center;

  }
}
@media screen and ( min-width: 350px ) and ( max-width: 600px ) {
  li {

    flex-direction: row;
    justify-content: start;
    align-items: center;
  }
  li > * {
    flex: 1;
  }
}
@media screen and (min-width: 600px) and ( max-width: 777px ){
  .instr-liner {
    width: 100%;
    margin: 33px 0;
  padding: 11px;
  }
  li {

    flex-direction: column;
    justify-content: space-between;
    align-items: center;

  }
}
@media screen and ( max-width: 777px ){
  .instr-liner {
    width: 100%;
  padding: 11px;
  }
  }
@media screen and ( min-width: 777px ){
  .instr-liner {
    width: 80%;
    margin: 33px auto;
  }
  li {

    flex-direction: row;
    justify-content: start;
    align-items: center;
  }
  li > * {
    flex: 1;
  }
.instr-liner {
  padding: 33px;
  margin: 33px auto;
}
}
/* :global(body.dark) { */
/*   --bg-color-1: var( --fg-color-2 ); */
/*   --fg-color-2: var( --bg-color-1 ); */
/* }  */
/* :global( body:not(.dark) ){ */
/*   --bg-color-1: var( --bg-color-1 ); */
/*   --fg-color-2: var( --fg-color-2 ); */
/* } */
.instructions {
  padding-top: 110px;
  --instr-bg: var( --julias-pink );
  --instr-fg: var( --peepo-roof );
  --instr-bg: var( --julias-peach );
  --instr-fg: var( --julias-pink );
  --instr-bg: var( --lavender );
  --instr-fg: var( --page-fg );
  /* --instr-fg: var( --page-fg ); */
  color: rgb(var( --instr-fg));
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.instr-liner {
  background: rgba(var(--instr-bg), 1);
}
.inst-extra {
  padding: 11px;
  margin: 33px auto 11px auto;
}
.instructions :is( ul, li ) {
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
}
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}
.instructions li {
  width: min(100%, 200px );
  display: flex;
}
.instructions  :is(p, img):not(.inst-extra){
  margin: 0;
  padding: 0;
}
p {
  text-align: center;
}

.instructions .image-pile {
  overflow: hidden;
  width: 50%;
  height: 100%;
  position: relative;
  aspect-ratio: 1 / 1;

  display: grid;
  align-items: center;
}

.instructions .image-pile :is(svg, img) {
  position: absolute;
  height: 77%;
  width: 77%;
}
#page-icon {
  top: 0;
  right: 0;
}
#user-icon {
  top: 22%;
  left: 0;
}
#keys-icon {
  justify-self: center;
  /* align-self: center; */
}
#student-icon {
  left: 0;
}
#search-icon {
  position: relative;
  transform: scale(0.77);
  transform-origin: right;
  justify-self: end;
  /* top: 50%; */
  /* right: 0; */
}
