main {
  z-index: 90;
}
header {
  z-index: 100;
}
.jumbo-content-outside {
  z-index: 80;
}
.julia {
  z-index: 80;
}
.page {

  z-index: 70;
}
.header-bg{
  z-index: 50;
}
.peepo, .instructions, .preview-block {
  z-index: 30;
}
/* .julia { */
/*   z-index: 220 !important; */
/* } */
/* .peepo { */
/*   z-index: 200 !important; */
/* } */
