@media screen and (max-width: 500px){
  .center {
    width: 90vw;
  }
}
@media screen and (min-width: 501px) and (max-width: 1000px){
  .center {
    width: 77vw;
  }
}
@media screen and (min-width: 1000px){
  .center {
    /* width: 30vw; */
    width: 77vw;
  }
}

/* menu */

@media screen and (max-width: 776px){
  .header-top-menu ul {
    display: none;
  }
  .button-wrapper {
    display: flex;
  }
  .header-bottom-menu ul {
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
  }
  .header-bottom-menu, .header-bottom-menu * {
    width: 100%;
    text-align: center;
  }
  body:not(.open) .header-bottom-menu li {
    padding: 0;
    margin: 0;
    height: 0;
    overflow: hidden;

  }
  .header-bottom-menu a {
    transition: opacity 150ms 100ms;
  }
  body:not(.open) .header-bottom-menu a {
    opacity: 0.001;
  }
  body.open div:is(.header-top, .header-bottom)  {
    background: rgba(var(--bg-color-1), 0.77);
    /* background: #BADA55; */
  }
  body.open .header-bottom-menu li {
    /* height: 22px; */
    margin: 5px;
  }
  body.open .header-bottom-menu a {
    opacity: 0.99;
  }
  /* .header-bottom-menu.open, .header-bottom-menu.open * { */
  /*   height: auto; */
  /**/
  /* } */

  body.open .header-bottom  {
    padding-block: 9px;
  }
  .jumbotron {
    background: linear-gradient(to bottom, rgba(var(--bg-color-1), 0) 0% 100px, rgba(var(--bg-color-1),1) 66% 100%);
    background-attachment: fixed;
    justify-content: center;
    align-items: end;
  }
  .jumbotron :is(h2, p){
    width: 100%;
  }
}
@media screen and (min-width: 777px){
  header li {
    margin: 11px;
  }
  .header-bottom  {
    padding-block: 9px;
  }
  .header-bottom-menu li {

    height: 22px;
  }
  .header-top-menu ul {
    display: flex;
  }
  .button-wrapper {
    display: none;
  }
  .jumbotron {
    background: linear-gradient(to bottom, rgba(var(--bg-color-1), 0) 0%, rgba(var(--bg-color-1),0) 66% 100%);
    justify-content: center;
    align-items: center;
  }
  .center :is(h2, p){
    width: 40vw;
  }
}
